<!DOCTYPE html>
<html lang="FR">
    <head>
        <title>SmartCart - Accueil</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="web/css/style.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    </head>
    <body id="body404">
        <div class="container addmargintopsmtolg">
            <div class="row">
                <div class="col-sm-offset-2 col-md-8">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-5 borderR-orange">
                            <p class="content404">404</p>
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-7 oops">
                            <h1>Oops !</h1>
                            <p>La page que tu tentes d'atteindre est introuvable.
                            Nous en sommes désolé</p>
                            <input type="button" name="returnHome" class="btn btn-warning bigbutton" value="Retourner à l'accueil">
                            <div class="backlink">
                                <i class="fa fa-chevron-left"></i><a href=""> Retourner en arrière</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
