/*********************
	PRODUCT PAGE
**********************/

.btn-search{
	color: #fff;
	text-align: center;
	background-color: #ffb12f;
	border: 1px solid #ffb12f;
	border-radius: 0px 4px 4px 0px;
	height: 40px;
	margin-left: -4px
}

.search{
	border: 1px solid #f1ece6;
    border-radius: 4px 0px 0px 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    background-color: #f1ece6;
    width: 90%;
}

.account{
	background-color: #ffb12f;
	text-align: center;
}

.icon-user, .icon-bag{
	font-size: 25px;
}

.icon-user{
	color: #fff;
}

.name-user, .myBag{
	margin-left: 5px;
	font-size: 17px;
}

.name-user{
	color: #fff;
}

.bag-zone{
	border-right: 1px solid #f1ece6;
	text-align: center;
	height: 100%
}

.kit-img{
	width: 100%;
	height: 260px;
	object-fit: cover;
}

.kit-item{
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center;
	width: 130px;
	height: 130px;
}

.kit-item img{
	height: 105px;
}

.kit-item ~ p{
	width: 130px;
}

.btn-quantity{
	padding: 3px 6px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px 0px 0px 4px;
}

.btn-less{
	border-radius: 0px 4px 4px 0px;
	left: -10px;
	position: relative;
	width: 22px;
}

.nb-quantity{
	width: 40px;
	height: 22px;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
	text-align: center;
	position: relative;
	left: -5px;
}

.btn-addCart{
	background-color: #fbb12f;
	border: 1px solid #ffb12f;
	border-radius: 4px;
	color: #fff;
	padding-left: 5%;
	padding-right: 5%;
}

.price{
	font-weight: bold;
	font-size: 30px;
}

.name-kit{
	display: inline-block;
}

.stars{
	color: #ffb12f;
}

.container-grey{
	background-color: #f1ece6;
}

.hr-grey{
	margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-bottom: 1px solid grey;
}

.nopadding-side{
	padding-left: 0;
	padding-right: 0;
}



.comment{
	background-color: #f1ece6;
	width: 50%
}

.btn-green
{
	background-color: #89ae03;
	border: 1px solid #89ae03;
	border-radius: 4px;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3%;
	padding-right: 3%;
}

fieldset, label { 
	margin: 0; 
	padding: 0; 
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { 
	display: none; 
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { 
	color: #ffb12f;  
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { 
	color: #FFED85;  
}

.date {
	font-size: 75%;
}

.avis{
	border-bottom: 2px solid #fbb12f;
}

/******************************/

/*==========  Media Query  ==========*/

    /* Custom, iPhone Retina */ 
    @media (max-width : 320px) {
    	
    }

    /* Extra Small Devices, Phones */ 
    @media(max-width: 768px) {
   		/*.nopadding-side{
   			padding-right: 15px;
   			padding-left: 15px;
   		}*/
    }

    /* Small Devices, Tablets */
    @media(min-width: 768px) and (max-width: 992px) {
	    
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }