<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <input type="text" id="search" value="">
    <button type="button" id="searchButton">Rechercher</button>
    <div id="searchResult">

    </div>

    <script>
    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
    var $newLinkLi = $('<li></li>').append($addTagLink);

    function addTagForm($collectionHolder, $newLinkLi, value) {
        var prototype = $collectionHolder.data('prototype');
        var index = $collectionHolder.data('index');

        var newForm = prototype;
        newForm = newForm.replace(/__name__/g, index);

        $collectionHolder.data('index', index + 1);

        var c = $.parseHTML(newForm);

        var $newFormLi = $('<li></li>').append(newForm);
        $newFormLi.find("input")[0].value = value;
        $newFormLi.find("input")[1].value = 1;

        $newLinkLi.before($newFormLi);
    }

    var i = 0;
    var data = {};

    $("#searchButton").click(function() {
        data = {
            'ApiKey': '1599d025-547a-4d2c-88d9-b4534c9fdbca',
            'SearchRequest': {
                'Keyword': $("#search").val(),
                'Pagination': {
                    'ItemsPerPage': 10,
                    'PageNumber': 0
                },
                'Filters': {
                    'Price': {
                        'Min': 0,
                        'Max': 0
                    },
                    'Navigation': 0,
                    'IncludeMarketPlace': 0,
                    'Brands': []
                }
            }
        };

        $.post("https://api.cdiscount.com/OpenApi/json/Search", JSON.stringify(data))
        .done(function(data) {
            var searchResult = $("#searchResult");
            searchResult.empty();

            data.Products.forEach(function(i) {
                searchResult.append("<div class='productResult'><p>" + i.Name + "</p><img src='" + i.MainImageUrl + "'/><button class='add' data='" + i.Id + "'>Ajouter au panier</button></div>");
            });

            $(".add").click(function() {
                var Id = $(this).attr("data");
                addTagForm($collectionHolder, $newLinkLi, Id);
            });
        })
        .fail(function(error) {
            console.log(error.responseText);
        });
    })

    jQuery(document).ready(function() {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('#cart_products');
        $collectionHolder.hide();

        $collectionHolder.append($newLinkLi);

        $collectionHolder.data('index', $collectionHolder.find(':input').length);
    });
    </script>
</body>
</html>
