<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {{ render(controller('SmartCartBundle:Layout:header')) }}

        <!-- Panier -->
        {{ dump(cart) }}
    </body>
</html>
